@import './_theme-var.scss';

@mixin def_all_theme {
    @each $theme-name, $theme-value in $themes {
        $theme-value: $theme-value !global; // 把局部变量提升为全局变量
        [data-theme="#{'' + $theme-name}"] & { // 定义主题下面的样式
            @content;
        }
    }
}

//! 获取确定主题下指定样式的值
@function get_theme_value($key) {
    @return map-get($theme-value, $key);
}

//! 获取颜色
@mixin color($color: 'color') {
    @include def_all_theme{ // 有多少种主题, 就会定义多少套对应的样式
        color: get_theme_value($color);
    }
}

//! 获取颜色
@mixin bg($bg: 'bg') {
  @include def_all_theme{ 
      background-color: get_theme_value($bg);
  }
}


